@import "bootstrap-sprockets"
@import "bootstrap"


// - - - - - - - - - - Main - - - - - - - - - - - //
.main-wrapper
  width: 100%
  height: auto

// - - - - - - - - - - header - - - - - - - - - - - //
.header-wrapper
  position: relative
  display: table
  width: 100%
  height: 0
  margin-bottom: 5rem
  text-align: center
  padding-bottom: 60vh
  text-align: center
  overflow: hidden
  background:
    image: url("header.jpeg")
    size: cover
    position: center

.main-nav.overlay
  position: absolute
  width: 100%
  height: 70px
  border: none
  margin: 20px
  color: transparent
  background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%)

.main-nav a
  text-decoration: none
  font-family: 'Open Sans', sans-serif

.navbar-default
  border: 0
  background:
    color: transparent

.avatar-logo
  height: 38px
  width: auto
  padding: 1px 0 5px 0
  margin: 25px
  display: block
  float: left
  background: none !important
  border: none !important
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  display: block
  border-radius: 50%
  
.menu-button 
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  display: inline-block
  float: right
  height: 38px
  padding: 0 15px
  margin: 25px

  background: #222
  color: #fff
    border-color: rgba(255, 255, 255, 0.6)

  border-style: solid
  border-width: 1px
  opacity: 1
  text-align: center
  font-size: 12px
  text-transform: uppercase
  line-height: 35px
  white-space: nowrap
  border-radius: 3px
  transition: all 0.5s ease

.menu-button:before 
  font-size: 12px
  font-weight: bold
  margin-right: 6px
  position: relative
  top: 1px

.menu-button:hover 
  background: #fff
  color: #222

.menu-button:focus 
  outline: 0
  
/* Create a bouncing scroll-down arrow on homepage with cover image */
.scroll-down 
  display: block
  position: absolute
  z-index: 100
  bottom: 45px
  left: 50%
  margin-left: -16px
  
  width: 34px
  height: 34px
  font-size: 34px
  text-align: center
  text-decoration: none
  color: rgba(255,255,255,0.7)
  
  -webkit-transform: rotate(0deg)
  -ms-transform: rotate(0deg)
  transform: rotate(0deg)
  -webkit-animation: bounce 4s 2s infinite
  animation: bounce 4s 2s infinite

.arrow
  height: 50px
  width: 50px

