<header class="header-wrapper" >
  <div class="container-fluid">
    <!-- - - - - - - - - - - Nav  - - - - - - - - - - -->
    <nav class="navbar main-nav">
      <%= image_tag "avatar/test.jpg", class: "avatar-logo" %>
      <button class="btn menu-button">Menu</button>
    </nav>
    <!-- - - - - - - - - - - Slogan  - - - - - - - - - - -->

    <div class="slogan">
      <h1>骑行小胖</h1>
      <h2>Thoughts, stories and ideas</h2>
    </div>
    <!-- - - - - - - - - - - Arrow  - - - - - - - - - - -->
    <a class="scroll-down">
      <span><%= image_tag "arrow.png", class: "arrow" %></span>
    </a>
  </div>
</header>