<!DOCTYPE html>
<html>
<head>
  <title>Crisscross</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= render 'layouts/shim' %>
</head>
<body>
<div class="main-wrapper">
  <!-- - - - - - - - - - - - - - - - - HEADER - - - - - - - - - - - - - - - - - - -->
  <%= render 'layouts/header' %>
  <!-- - - - - - - - - - - - - - - - - HEADER END - - - - - - - - - - - - - - - - -->

  <!-- - - - - - - - - - - - - - - - - MAIN - - - - - - - - - - - - - - - - - - - -->
  <div class="container">
    <%= yield %>
  </div>
  <!-- - - - - - - - - - - - - - - - - MAIN END - - - - - - - - - - - - - - - - - -->

  <!-- - - - - - - - - - - - - - - - - FOOTER - - - - - - - - - - - - - - - - - - -->
  <%= render 'layouts/footer' %>
  <!-- - - - - - - - - - - - - - - - - FOOTER END - - - - - - - - - - - - - - - - -->
</div>
</body>
</html>
